* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ==================================== common ==================================== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 104px;
  line-height: 60px;
  border-radius: 30px;
  background-color: #2e80ce;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}
/* ==================================== header ==================================== */
header {
  background-color: var(--header-bg);
  min-height: 200vh;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0 110px;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 0px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
  color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__link--active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 9px;
}

.header__action--signup {
  min-width: 104px;
  line-height: 4.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.header__action--login {
  margin-right: 7px;
}
